{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash",
          "questionModule": "./src/modules/question/",
          "quizModule": "./src/modules/quiz/",
          "util": "./src/util/"
        }
      }
    ]
  ]
}
