{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "extensions": [".js", ".jsx", ".es", ".es6", ".mjs", ".ts"],
        "alias": {
          "questionModule": "./src/modules/question/",
          "quizModule": "./src/modules/quiz/",
          "answer-module": "./src/modules/answer/",
          "answer-sheet-module": "./src/modules/answer-sheet/",
          "util": "./src/util/"
        }
      }
    ]
  ]
}
