{
  "root": true,
  "extends": [
    "airbnb",
    "prettier",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "always"],
    "prettier/prettier": "error",
    "no-missing-import": "warn",
    "spaced-comment": "off",
    "no-console": "warn",
    "consistent-return": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "no-process-exit": "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "req|res|next|val" }],
    "node/no-unsupported-features/es-syntax": [
      "off",
      {
        "version": ">=12.0.0",
        "ignores": []
      }
    ],
    "node/no-missing-import": [
      "off",
      {
        "allowModules": ["catchAsync"],
        "resolvePaths": ["questionModule", "quizModule", "answer-module"],
        "tryExtensions": [".js", ".json", ".node", ".ts"]
      }
    ]
  }
}

// {
//   "extends": ["airbnb", "prettier", "plugin:node/recommended"],
//   "plugins": ["prettier"],
//   "rules": {
//     "prettier/prettier": "error",
//     "spaced-comment": "off",
//     "no-console": "warn",
//     "consistent-return": "off",
//     "func-names": "off",
//     "object-shorthand": "off",
//     "no-process-exit": "off",
//     "no-param-reassign": "off",
//     "no-return-await": "off",
//     "no-underscore-dangle": "off",
//     "class-methods-use-this": "off",
//     "prefer-destructuring": ["error", { "object": true, "array": false }],
//     "no-unused-vars": ["error", { "argsIgnorePattern": "req|res|next|val" }]
//   }
// }
